<div class="wrapper">
  <div class="buttons">
    <button class="all-drawn-btn" [routerLink]="drawnRoute">
      {{ "bingo.allDrawnNumber" | translate }}
    </button>

    <button class="call-btn" (click)="callNumber()">
      @if (drawnNumber === 0) {
      <ng-icon name="faSolidCirclePlay"></ng-icon>
      } @else {
      {{ drawnNumber }}
      }
    </button>
  </div>

  <div class="board">
    @for (row of board; track row) {
    <div>
      @for (number of row; track number) {
      <span
        class="number {{ myDrawnNumber.includes(number) ? 'called' : '' }}"
        (click)="drawn(number)"
        >{{ number !== 0 ? number : "&nbsp;" }}
      </span>
      }
    </div>
    }
  </div>
</div>
