<div class="wrapper">
  <div class="buttons">
    <button class="all-drawn-btn" [routerLink]="drawnRoute">
      All Drawn Numbers
    </button>

    <button class="call-btn" (click)="callNumber()">
      {{ drawnNumber === 0 ? "Call" : drawnNumber }}
    </button>
  </div>

  <div class="board">
    @for (row of board; track row) {
    <div>
      @for (number of row; track number) {
      <span class="number" (click)="drawn(number)"
        >{{ number !== 0 ? number : "&nbsp;" }}
        {{ myDrawnNumber.includes(number) ? "*" : "" }}
      </span>
      }
    </div>
    }
  </div>
</div>
