<div class="wrapper">
  <div class="images">
    <img src="../../assets/blossom.png" alt="Blossom" />
    <img src="../../assets/dragon.png" alt="Dragon" class="dragon" />
  </div>

  <div class="form">
    <label for="">{{ "login.fullName" | translate }}</label>
    <input type="text" [(ngModel)]="fullName" />

    <button (click)="loginGuest()" [disabled]="isLoading">
      @if (isLoading) {
      <ng-icon name="faSolidSpinner"></ng-icon>
      } {{ "login.signIn" | translate }}
    </button>
  </div>

  <div class="divider">
    <div class="line"></div>
    <span>OR</span>
    <div class="line"></div>
  </div>

  <button class="google-btn" (click)="loginGoogle()">
    <ng-icon name="ionLogoGoogle"></ng-icon>
    {{ "login.loginGoogle" | translate }}
  </button>

  <p>
    {{ "login.cannotSignIn" | translate }}?
    <a href="https://hdang09.tech"
      ><strong>{{ "login.contactUs" | translate }}</strong></a
    >
  </p>

  <div class="langs">
    @for (lang of langs; track lang ) {
    <img
      class="lang"
      src="../../../assets/langs/{{ lang }}.png"
      (click)="changeLang(lang)"
      alt="{{ lang }}"
    />
    }
  </div>
</div>
